page{
  background-color: #fff;
}
.login-top {
  background-color: #0156c0;
  height: 300rpx;
  display: flex;
  //排列方向
  flex-direction: column; //垂直排列
  justify-content: center; //垂直居中
  align-items: center;

  >image {
    width: 100rpx;
    height: 100rpx;

  }
  >text {
    color: #fff;
    font-size: 30rpx;
  }
}

//表单部分
.login-form {
  background-color: #fff;
  margin-top: -40rpx;
  border-top-left-radius: 50rpx;
  border-top-right-radius: 50rpx;
  padding: 50rpx;

  //表单组件
  van-cell-group {

    //输入框内容垂直居中
    .custom-field {
      //解决字数统计错位
      .van-cell__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      //解决清除控件位置
      .van-field__body{
        width: 100%;
      }
    }
    >view {
      color: #333;
      font-size: 36rpx;
      font-weight: bold;
      margin: 30rpx 0;
    }
  }

  //去注册
  .register-box {
    display: flex;
    justify-content: center;
    margin-top: 80rpx;

    //没有账号
    .register-title {
      color: #999;
      font-size: 26rpx;
    }
    // 去注册
    .register-content {
      color: red;
      font-size: 26rpx;
    }
  }
  //登录按钮
  .login-btn {
    margin-top: 50rpx;
  }
}