.about-box{
  background-color: #fff;
  margin: 20rpx;
  padding: 20rpx;
  //上
  .about-title{
    font-size: 32rpx;
    color: #333;
    font-weight: bold;
  }
  //中间
  .about-main{
    >view{
      font-size: 30rpx;
      color: #666;
      margin: 20rpx 0;
    }
  }
  // 下
  .about-bottom{
    font-size: 32rpx;
    color: #333;
  }
}